.oltb-animation {
    animation-duration: 250ms;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    
    &--linear-spinner {
        animation-name: oltb-spinner;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
    }

    &--bouncy-spinner {
        animation-name: oltb-spinner;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
    }

    &--slide-in {
        animation-name: oltb-slide-in;
    }

    &--slide-out {
        animation-name: oltb-slide-out;
    }

    &--bounce {
        animation-name: oltb-bounce;
    }

    &--centered-bounce {
        animation-name: oltb-centered-bounce;
    }
}

@keyframes oltb-spinner {
    0% { 
        transform: rotate(0deg); 
    }

    100% { 
        transform: rotate(360deg); 
    }
}

@keyframes oltb-slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes oltb-slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes oltb-bounce {
    0% { 
        transform: scale(0.95);
    }

    50% { 
        transform: scale(1.05);
    }

    100% { 
        transform: scale(1.0);
    }
}

@keyframes oltb-centered-bounce {
    0% { 
        transform: scale(0.95) translateX(-52.5%);
    }

    50% { 
        transform: scale(1.05) translateX(-47.5%);
    }

    100% { 
        transform: scale(1.0) translateX(-50%);
    }
}