.oltb-debug {
    border-bottom: 1px dashed $color-gray-mid;
    padding: .5rem 0;

    &__commands {
        padding-bottom: 1rem;
        border-bottom: 1px dashed $color-gray-mid;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        cursor: pointer;
    }

    &__title {
        margin: 0;
    }

    &__toggle {
        color: $color-gray-dark;
    }

    &__json {
        padding: .5rem;
        border-radius: $border-radius;
        background-color: $color-gray-light;
        overflow-x: auto;
    }

    &__log {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__log-item {
        padding: .5rem;
        border-radius: $border-radius;
        margin: .5rem 0;

        &:nth-child(odd) {
            background-color: $color-gray-light;
            color: $color-gray-dark;
        }
    }
}

body.oltb-dark .oltb-debug {
    &__toggle {
        color: $color-light;
    }

    &__json {
        color: $color-gray-dark;
    }
}