.oltb-dialog {
    background-color: $background-theme-light;
    display: inline-block;
    max-width: 90%;
    margin: 2rem auto;
    padding: $top-level-padding;
    border-radius: $border-radius;
    box-shadow: $box-shadow-dark;
    color: $color-gray-dark;

    &-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index: 900;
        text-align: center;

        &--fixed {
            position: fixed;
        }
    }

    &__input {
        margin-bottom: 1rem;
        width: 250px;
    }

    &__btn {
        padding: .5rem .625rem;

        &:last-child {
            margin-left: .5rem;
        }
    
        &:only-child {
            margin: 0;
        }
    }
}

body.oltb-dark .oltb-dialog {
    background-color: $background-theme-dark;
    color: $color-light;
}