@use './variables' as *;

.oltb-input {
    display: block;
    width: 100%;
    min-width: 150px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-gray-500;
    background-clip: padding-box;
    background-color: $color-gray-100;
    border: 1px solid $form-input-border-color-light;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: $border-radius;
    transition: border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
    outline: none;

    &:focus {
        border: 1px solid rgba($color-blue-300, .5);
        box-shadow: 0 0 0 $shadow-focus-width rgba($color-blue-300, .3);
    }

    &:disabled {
        background-color: $background-theme-light-disabled;
        cursor: not-allowed;
    }
}

.oltb-input-button-group {
    display: flex;
    justify-content: space-evenly;

    .oltb-input {
        margin-right: .5rem;
    }
}

body.oltb-dark .oltb-input {
    background-color: $color-gray-300;
    border: 1px solid $form-input-border-color-dark;

    &:focus {
        box-shadow: 0 0 0 $shadow-focus-width rgba($color-gray-300, .3);
    }

    &:disabled {
        background-color: $background-theme-dark-disabled;
    }
}