@use './variables' as oltb;

.oltb-select {
    display: block;
    width: 100%;
    min-width: 150px;
    padding: .25rem 2.25rem .25rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: oltb.$color-gray-500;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    background-color: oltb.$color-gray-100;
    border: 1px solid oltb.$form-input-border-color-light;
    border-radius: oltb.$border-radius;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    word-wrap: normal;
    outline: none;

    &:focus {
        border: 1px solid rgba(oltb.$color-blue-300, .5);
        box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-blue-300, .3);
    }

    &:disabled {
        background-color: oltb.$background-theme-light-disabled;
        cursor: not-allowed;
    }
}

body.oltb-dark .oltb-select {
    background-color: oltb.$color-gray-300;
    border: 1px solid oltb.$form-input-border-color-dark;
    
    &:focus {
        box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-gray-300, .5);
    }

    &:disabled {
        background-color: oltb.$background-theme-dark-disabled;
    }
}