@use './variables' as oltb;

.oltb-checkbox-wrapper {
    display: flex;
    align-items: center;
    
    &--margin {
        margin-bottom: 1rem;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__checkbox {
        margin: .25rem .625rem .25rem 0;
        width: 1.25rem;
        height: 1.25rem;
        flex-shrink: 0;
        background-color: oltb.$background-theme-light;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid oltb.$form-input-border-color-light;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        border-radius: oltb.$border-radius;
        transition: border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
    
        &:checked {
            background-color: oltb.$color-blue-300;
            border-color: oltb.$color-blue-300;
        }
    
        &:checked[type="checkbox"] {
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        }
    
        &:focus {
            border: 1px solid oltb.$color-blue-300;
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-blue-300, .3);
        }
    }
}

body.oltb-dark .oltb-checkbox-wrapper {
    &__title {
        color: oltb.$color-light;
    }

    &__checkbox {
        background-color: oltb.$color-gray-300;
        border: none;

        &:checked {
            background-color: oltb.$color-blue-300;
        }

        &:focus {
            border: none;
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-blue-200, .7);
        }
    }
}