@use './variables' as oltb;

.oltb-slider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 0; 
    outline: none;
    position: absolute;
    z-index: 700;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0;
    display: none;

    &--show {
        display: block;
    }

    // For some reason the ::-webkit-slider-thumb and ::-moz-range-thumb can not be combined into joint syntax. 
    // The css is not applied in Chrome and Edge unless the code blocks are separated.
    &::-webkit-slider-thumb {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: oltb.$color-blue-300;
        cursor: move;
        box-shadow: 0 0 0 8px rgba(255, 255, 255, .9);
        filter: oltb.$drop-shadow-filter-mid;
        border: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 24px 24px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(255, 255, 255)' viewBox='0 0 16 16'%3E%3Cpath d='M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/%3E%3C/svg%3E");
        -webkit-appearance: none;
    }

    &::-moz-range-thumb {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: oltb.$color-blue-300;
        cursor: move;
        box-shadow: 0 0 0 8px rgba(255, 255, 255, .9);
        filter: oltb.$drop-shadow-filter-mid;
        border: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 24px 24px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(255, 255, 255)' viewBox='0 0 16 16'%3E%3Cpath d='M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/%3E%3C/svg%3E");
    }
}