@use './variables' as oltb;

.oltb-color-input {
    display: block;
    width: 100%;
    padding: .438rem;
    color: oltb.$color-gray-500;
    background-color: oltb.$color-gray-100;
    background-clip: padding-box;
    border: 1px solid oltb.$form-input-border-color-light;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: oltb.$border-radius;
    transition: border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
    outline: none;

    &:focus {
        border: 1px solid rgba(oltb.$color-blue-300, .5);
        box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-blue-300, .3);
    }

    &__inner {
        padding: .5rem;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: oltb.$border-radius;
    }
}

body.oltb-dark .oltb-color-input {
    background-color: oltb.$color-gray-300;
    border: 1px solid oltb.$form-input-border-color-dark;

    &:focus {
        box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-gray-300, .5);
    }
}