@use './variables' as oltb;

.oltb-btn {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-weight: 400;
    text-align: center;
    box-shadow: oltb.$box-shadow-mid;
    text-shadow: oltb.$text-shadow-light;
    border: none;
    border-radius: oltb.$border-radius;
    font-size: 1rem;
    padding: .5rem;
    color: oltb.$color-light;
    background-color: transparent;

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &__icon {
        filter: oltb.$drop-shadow-filter-light;
    }

    &--round {
        border-radius: 50%;
    }

    &--blank {
        box-shadow: none;
        padding: 0;
    }

    &--blue-light {
        background-color: oltb.$color-blue-200;

        &:focus {
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-blue-200, .5);
        }
    }

    &--blue-mid {
        background-color: oltb.$color-blue-300;

        &:focus {
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-blue-300, .5);
        }
    }

    &--blue-dark {
        background-color: oltb.$color-blue-400;

        &:focus {
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-blue-400, .5);
        }
    }

    &--green-light {
        background-color: oltb.$color-green-200;

        &:focus {
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-green-200, .5);
        }
    }

    &--green-mid {
        background-color: oltb.$color-green-300;

        &:focus {
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-green-300, .5);
        }
    }

    &--green-dark {
        background-color: oltb.$color-green-400;

        &:focus {
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-green-400, .5);
        }
    }

    &--red-light {
        background-color: oltb.$color-red-200;

        &:focus {
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-red-200, .5);
        }
    }

    &--red-mid {
        background-color: oltb.$color-red-300;

        &:focus {
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-red-300, .5);
        }
    }

    &--red-dark {
        background-color: oltb.$color-red-400;

        &:focus {
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-red-400, .5);
        }
    }

    &--gray-light {
        background-color: oltb.$color-gray-200;

        &:focus {
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-gray-200, .5);
        }
    }

    &--gray-mid {
        background-color: oltb.$color-gray-300;

        &:focus {
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-gray-300, .5);
        }
    }

    &--gray-dark {
        background-color: oltb.$color-dark;

        &:focus {
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-gray-400, .5);
        }
    }
}

body.oltb-using-keyboard .oltb-btn--blank:focus {
    box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-gray-300, .5);
}