/* 
    Don't create a bunch of classes. 
    These are to be used for changing some minor detail.
    Follow the "create-when-needed" principle.
*/

.oltb {
    &-m-0 {
        margin: 0 !important;
    }

    &-mt-0313 {
        margin-top: .313rem !important;
    }

    &-mt-0625 {
        margin-top: .625rem !important;
    }

    &-mt-1 {
        margin-top: 1rem !important;
    }

    &-mb-0313 {
        margin-bottom: .313rem !important;
    }

    &-ml-0625 {
        margin-left: .625rem !important;
    }

    &-w-100 {
        width: 100%;
    }

    &-d-none {
        display: none;
    }

    &-d-flex {
        display: flex;
    }

    &-flex-content-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-text-center {
        text-align: center;
    }

    &-justify-content-between {
        justify-content: space-between;
    }

    &-justify-content-center {
        justify-content: center;
    }

    &-hide-scrollbars {
        -ms-overflow-style: none;
        scrollbar-width: none;
    
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-thin-scrollbars {
        -ms-overflow-style: none;
        scrollbar-width: thin;
        scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;

        &::-webkit-scrollbar {
            width: .5rem;
            height: .5rem;
            background: $scrollbar-track-color;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $scrollbar-thumb-color;
            border-radius: 1.5rem;
            
            &:hover {
                background-color: $scrollbar-thumb-color;
            }
        }
    }
    
    &-link {
        color: $color-blue-mid;
        text-decoration: none;
    
        &:focus {
            text-decoration: underline;
        }
    }
}