@use './variables' as oltb;

.oltb-info-window {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: scale(1.0) translateX(-50%);
    min-width: 360px;
    padding: oltb.$top-level-padding;
    background-color: oltb.$background-theme-light;
    color: oltb.$color-light;
    border-radius: oltb.$border-radius;
    -webkit-filter: drop-shadow(0 0 .25rem rgba(0, 0, 0, .4));
    filter: drop-shadow(0 0 .25rem rgba(0, 0, 0, .4));
    user-select: none;

    &::after {
        content: '';
        position: absolute;    
        bottom: 1px;
        left: 50%;
        transform: translate(-50%, 100%);
        border-top: .625rem solid oltb.$background-theme-light;
        border-left: .625rem solid transparent;
        border-right: .625rem solid transparent;
    }

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 1rem 0;
    }

    &__title {
        color: oltb.$color-dark;
        margin: 0;
    }

    &__close {
        color: oltb.$color-dark;
    }

    &__content {
        color: oltb.$color-dark;

        p {
            font-size: 1rem;
        }

        img {
            width: 350px;
            border-radius: oltb.$border-radius;
            box-shadow: oltb.$box-shadow-mid;
        }
    }

    &__coordinates {
        margin: 0;
        font-size: .8rem;
        white-space: nowrap;
        font-weight: bold;
    }

    &__buttons-wrapper {
        margin-left: 1rem;
        flex-shrink: 0;
    }

    &__footer {
        color: oltb.$color-dark;
        margin: 1.25rem -0.25rem -0.25rem -0.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: scroll;
        padding: 0.25rem;

        // Note:
        // Remove inline-white-space
        font-size: 0;
    }
}

body.oltb-dark .oltb-info-window {
    background-color: oltb.$background-theme-dark;
        
    &::after {
        border-top: .625rem solid oltb.$background-theme-dark;
    }

    &__title,
    &__close,
    &__content,
    &__footer {
        color: oltb.$background-theme-light;
    }
}

@media only screen and (max-width: oltb.$breakpoint-sm) {
    .oltb-info-window {
        min-width: 330px;
    }
}
