@use './variables' as oltb;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#map {
    width: 100%;
    height: 100%;
    background-color: oltb.$background-map-osm;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.oltb-label {
    display: block;
    color: oltb.$color-dark;
    margin-bottom: .25rem;
    
    &--clickable {
        cursor: pointer;
    }

    &--inline {
        display: inline;
    }

    &--inline-block {
        display: inline-block;
    }
}

body.oltb-dark .oltb-label {
    color: oltb.$color-light;
}