@use './variables' as oltb;

.oltb-log {
    margin: 1rem 0;
    padding: 0 1rem 0 0;
    overflow-y: scroll;
    max-height: 600px;

    &:empty,
    &--empty {
        display: none;
    }
    
    &__filter {
        display: flex;
        gap: 0.5rem;
        overflow: scroll;
    }

    &__item {
        padding: .5rem;
        border-radius: oltb.$border-radius;
        margin: .5rem 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--hidden {
            display: none;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        cursor: default;
        
        &--toggleable {
            cursor: pointer;
        }
    }

    &__timestamp {
        font-weight: bold;
        margin: 0;
        white-space: nowrap;
    }

    &__level-icon {
        margin: 0 .5rem 0 0;
    }

    &__title {
        margin: 0;
    }

    &__toggle {
        color: inherit;
    }

    &__json {
        padding: 1rem 0 0 0;
        margin: 0;
        border-radius: oltb.$border-radius;
        background-color: transparent;
        overflow: auto;
        max-height: 300px;
        font-size: 1rem;
    }
}