@use './variables' as oltb;

// @Override : default dragzoom style from ol
body .ol-dragzoom {
    border-width: 2px;
    border-style: dashed;
    border-color: oltb.$color-blue-400;
    background-color: rgba(oltb.$color-blue-200, .5);
}