@use './variables' as *;

// @Override : default attribution style from ol
body #map .ol-attribution {
    padding: .25rem;
    background-color: $background-theme-light;
    bottom: 1rem;
    right: 1rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow-mid;
    
    ul, a {
        color: $background-theme-dark;
        text-shadow: none;
    }

    &-expand,
    &-collapse {
        margin: 0;
        display: block;
    }

    &-collapse {
        height: 10px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: normal;
        cursor: pointer;
        background-color: $background-theme-light;
        color: $background-theme-dark;

        &:hover,
        &:focus {
            background-color: $color-blue-200;
            outline: none;
        }
    }
}

body.oltb-dark #map .ol-attribution {
    background-color: $background-theme-dark;
    font-weight: normal;

    ul, a {
        color: $background-theme-light;
    }

    button {
        background-color: $background-theme-dark;
        color: $background-theme-light;

        &:hover,
        &:focus {
            background-color: $color-blue-300;
        }
    }
}