@use './variables' as *;

// @Override : default dragzoom style from ol
body .ol-dragzoom {
    border-width: 2px;
    border-style: dashed;
    border-color: $color-blue-400;
    background-color: rgba($color-blue-200, .5);
}