.oltb-overlay-snap {
    display: block;
    position: relative;

    &__x-line {
        position: absolute; 
        top: 50%; 
        height: 2px; 
        width: 100%;
    }

    &__y-line {
        position: absolute; 
        left: 50%; 
        height: 100%; 
        width: 2px;
    }
}