@use './variables' as *;

.oltb-overlay-tooltip {
    display: block;
    background-color: $color-gray-400;
    color: $color-light;
    border-radius: $border-radius;
    -webkit-filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, .2));
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, .2));
    position: relative;
    font-size: .9rem;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
        border-top: .375rem solid $color-gray-400;
        border-right: .375rem solid transparent;
        border-left: .375rem solid transparent;
    }

    &--hidden {
        display: none;
    }

    &__item {
        display: block;
        text-align: center;
        margin: 0;
        padding: .25rem .5rem;
    }
}