.oltb-spinner {
    border-color: rgba(1, 102, 165, .3);
    border-top-color: rgba(1, 102, 165, 1);
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    flex-shrink: 0;

    &--small {
        border-width: 3px;
        width: 25px;
        height: 25px;
    }

    &--medium {
        border-width: 8px;
        width: 50px;
        height: 50px;
    }

    &--large {
        border-width: 10px;
        width: 100px;
        height: 100px;
    }
}

body.oltb-dark .oltb-spinner {
    border-color: rgba(255, 255, 255, .3);
    border-top-color: rgba(255, 255, 255, 1);
}