@use './variables' as *;

.tippy-box[data-theme~='oltb'] {
    background-color: $background-theme-dark;
    color: $background-theme-light;
    box-shadow: $box-shadow-light;
    text-shadow: $text-shadow-light;
    border-radius: $border-radius;

    .tippy-content {
        padding: .25rem .5rem;
        font-size: 0.875rem;
    }
}

.tippy-box[data-theme~='oltb'] {
    &[data-placement^='top'] > .tippy-arrow::before {
        border-top-color: $background-theme-dark;
        filter: $drop-shadow-filter-mid;
    }

    &[data-placement^='bottom'] > .tippy-arrow::before {
        border-bottom-color: $background-theme-dark;
        filter: drop-shadow(1px 0 0 rgba(0, 0, 0, .1));
    }

    &[data-placement^='left'] > .tippy-arrow::before {
        border-left-color: $background-theme-dark;
        filter: $drop-shadow-filter-mid;
    }

    &[data-placement^='right'] > .tippy-arrow::before {
        border-right-color: $background-theme-dark;
        filter: drop-shadow(0 1px 0 rgba(0, 0, 0, .1));
    }
}

body.oltb-dark {
    // Note:
    // This class is added to the popper element in the onShow callback
    // To give the tooltip a bit more constrast
    .tippy-color-picker {
        border-radius: $border-radius;
        border: 1px solid $form-input-border-color-dark;
    }
    
    .tippy-box[data-theme~='oltb-themed'] {
        background-color: $background-theme-light;
        color: $background-theme-dark;

        &.tippy-box[data-theme~='oltb'] {
            &[data-placement^='top'] > .tippy-arrow::before {
                border-top-color: $background-theme-light;
            }

            &[data-placement^='bottom'] > .tippy-arrow::before {
                border-bottom-color: $background-theme-light;
            }

            &[data-placement^='left'] > .tippy-arrow::before {
                border-left-color: $background-theme-light;
            }

            &[data-placement^='right'] > .tippy-arrow::before {
                border-right-color: $background-theme-light;
            }
        }
    }
}

body:not(.oltb-dark) {
    // Note:
    // This class is added to the popper element in the onShow callback
    // To give the tooltip a bit more constrast
    .tippy-color-picker {
        border-radius: $border-radius;
        border: 1px solid $form-input-border-color-light;
    }

    .tippy-box[data-theme~='oltb-inverted-themed'] {
        background-color: $background-theme-light;
        color: $background-theme-dark;

        &.tippy-box[data-theme~='oltb'] {
            &[data-placement^='top'] > .tippy-arrow::before {
                border-top-color: $background-theme-light;
            }

            &[data-placement^='bottom'] > .tippy-arrow::before {
                border-bottom-color: $background-theme-light;
            }

            &[data-placement^='left'] > .tippy-arrow::before {
                border-left-color: $background-theme-light;
            }

            &[data-placement^='right'] > .tippy-arrow::before {
                border-right-color: $background-theme-light;
            }
        }
    }
}