@use './variables' as oltb;

.oltb-toast {
    color: oltb.$color-dark;
    background-color: oltb.$background-theme-light;
    cursor: default;
    min-width: 320px;
    padding: .75rem .875rem;
    border-radius: oltb.$border-radius;
    box-shadow: oltb.$box-shadow-mid;
    margin: 0 1rem 1rem 1rem;
    border-left: 4px solid;
    display: flex;
    align-items: center;

    &-container {
        position: absolute;
        bottom: 0;
        right: 0;
        overflow-x: hidden;
        z-index: 1000;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        text-shadow: oltb.$text-shadow-light;
        margin: 0;
    }

    &__message {
        font-size: 1rem;
        margin: .5rem 0 0 0;
        text-shadow: oltb.$text-shadow-light;

        &:empty {
            display: none;
        }
    }

    &--clickable {
        cursor: pointer;
    }

    &--remove {
        margin-right: 0;
    }

    &--info {
        border-left-color: oltb.$color-blue-300;
    }

    &--warning {
        border-left-color: oltb.$color-orange-300;
    }

    &--error {
        border-left-color: oltb.$color-red-300;
    }

    &--success {
        border-left-color: oltb.$color-green-300;
    }
}

body.oltb-dark .oltb-toast {
    color: oltb.$color-light;
    background-color: oltb.$background-theme-dark;
}