@use './variables' as oltb;

// Note:
// Default version, none selected items

// Note:
// Needed to use !important on some locations do override the more specific dark-theme-styles
.oltb-toolbox-list {
    padding: 0;
    margin: 0 0 0 1rem;
    list-style-type: none;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        margin-left: -.75rem;
        border: 1px dashed oltb.$color-gray-200;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__dot {
        flex-shrink: 0;
        width: .5rem;
        height: .5rem;
        margin-right: .75rem;
        margin-left: -1.25rem;
        background-color: oltb.$color-gray-200;
        border-radius: oltb.$border-radius;
        box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-gray-200, .3);
    }

    &__item {
        min-height: 33px; // Help when no layer function buttons exists
        padding: 4px;
        margin-bottom: .25rem;
        border-radius: oltb.$border-radius;
        color: oltb.$color-dark;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        border: 1px dashed transparent;

        &:last-child {
            margin-bottom: 0;
        }

        // Sortable.js
        // Item is clicked and not dragged yet
        &--chosen {
            color: oltb.$color-blue-400;
            border-color: oltb.$color-blue-400;
            background-color: oltb.$color-blue-200;
        }
        
        // Sortable.js
        // Item is beeing dragged
        &--drag {
            color: oltb.$color-gray-400;
            border-color: oltb.$color-gray-400;
            background-color: oltb.$color-gray-200;

            .oltb-toolbox-list__handle {
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='rgb(59, 67, 82)' viewBox='0 0 16 16'><path d='M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>") !important;
            }
        }

        // Sortable.js
        // Item mock to show where it will go after dragged
        &--ghost {
            color: oltb.$color-blue-400;
            border-color: oltb.$color-blue-400;
            background-color: oltb.$color-blue-200;

            .oltb-toolbox-list__handle {
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='rgb(1, 102, 165)' viewBox='0 0 16 16'><path d='M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>") !important;
            }
        }

        &--indicate {
            font-weight: bold;
            color: oltb.$color-blue-400 !important;
            border-color: oltb.$color-blue-400;
            background-color: oltb.$color-blue-200;

            .oltb-toolbox-list__dot {
                background-color: oltb.$color-green-300;
                box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-green-300, .3);
            }

            .oltb-toolbox-list__handle {
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='rgb(1, 102, 165)' viewBox='0 0 16 16'><path d='M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>") !important;
            }
        }
    }

    &__handle {
        width: 10px;
        height: 24px;
        margin-left: .5rem;
        cursor: move;
        background-position: calc(100% + 0.5rem);
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='rgb(59, 67, 82)' viewBox='0 0 16 16'><path d='M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>");
    }

    &__title {
        margin: 0 1rem 0 0;
        cursor: default;
    }
}

// Note:
// List that can have a selected item, example feature-layers
.oltb-toolbox-list--selectable .oltb-toolbox-list {
    &__dot {
        cursor: pointer;
    }

    &__item--active {
        font-weight: bold;

        .oltb-toolbox-list__dot {
            background-color: oltb.$color-green-300;
            box-shadow: 0 0 0 oltb.$shadow-focus-width rgba(oltb.$color-green-300, .3);
        }
    }

    &__title {
        cursor: pointer;
    }
}

body.oltb-dark .oltb-toolbox-list {
    &__item {
        color: oltb.$color-light;

        &--chosen {
            color: oltb.$color-blue-400;
        }
        
        &--drag {
            color: oltb.$color-gray-400;
        }

        &--ghost {
            color: oltb.$color-blue-400;
        }
    }

    &__handle {
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='rgb(230, 232, 229)' viewBox='0 0 16 16'><path d='M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>");
    }
}