@use './variables' as oltb;

.oltb-toolbox-section {
    margin: 1rem 0;
    display: none;

    &--show {
        display: block;
    }

    &__header:not(:first-child) {
        margin-top: 1rem;
    }

    &__header {
        margin: 0 0 .625rem 0;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        color: oltb.$color-dark;
        margin: 0;
    }

    &__icon {
        margin: 0;
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(59, 67, 82)' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z'/%3E%3C/svg%3E");
    }

    // Note:
    // There is also a global group in _helper-classes.scss
    &__group {
        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }

        li:first-child {
            margin-top: 1rem;
        }

        .oltb-label {
            font-size: 1rem;
        }

        &--split-group {
            display: flex;
            align-items: end;
            flex-direction: row;
            gap: 0.5rem;

            .oltb-select,
            .oltb-input {
                min-width: 100px;
            }
        }

        &--topmost li:first-child {
            margin-top: 0;
        }

        &--sub-toolbar {
            display: block;
            font-size: 0;

            .oltb-btn {
                margin-left: .375rem;

                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }

    &__group-part {
        flex: 1;
    }
}

body.oltb-dark .oltb-toolbox-section {
    &__title {
        color: oltb.$color-light;
    }
    
    &__icon {
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(255, 255, 255)' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z'/%3E%3C/svg%3E");
    }
}