$color-blue-light: #D7E3FA;
$color-blue-mid: #6397C2;
$color-blue-dark: #0166A5;
$color-green-light: #BCFAF4;
$color-green-mid: #3CAEA3;
$color-green-dark: #007C70;
$color-yellow-light: #FFF1C5;
$color-yellow-mid: #FBDD83;
$color-yellow-dark: #FBBD02;
$color-orange-light: #FFDDBC;
$color-orange-mid: #FCBE80;
$color-orange-dark: #F67D2C;
$color-red-light: #FDB5B4;
$color-red-mid: #E96B69;
$color-red-dark: #EB4542;
$color-gray-light: #D3D9E6;
$color-gray-mid: #959DAD;
$color-gray-dark: #3B4352;

$top-level-padding: 1.5rem;

$scrollbar-track-color: #F0F0F0;
$scrollbar-thumb-color: #CDCDCD;
$scrollbar-thumb-hover-color: #838383;

$background-map-osm: #AAD3DF;

$background-theme-light-disabled: rgba($color-gray-light, .5);
$background-theme-dark-disabled: rgba($color-gray-mid, .3);

$background-theme-light: #FFFFFF;
$background-theme-dark: $color-gray-dark;

$color-light: #FFFFFF;
$color-dark: $color-gray-dark;

$form-input-border-color-light: #CED4DA;
$form-input-border-color-dark: #2F3642;

$box-shadow-light: 1px 1px 0 rgba(0, 0, 0, .1);
$box-shadow-mid: 1px 1px 0 rgba(0, 0, 0, .2);
$box-shadow-dark: 1px 1px 0 rgba(0, 0, 0, .3);

$drop-shadow-filter-light: drop-shadow(1px 1px 0 rgba(0, 0, 0, .1));
$drop-shadow-filter-mid: drop-shadow(1px 1px 0 rgba(0, 0, 0, .2));
$drop-shadow-filter-dark: drop-shadow(1px 1px 0 rgba(0, 0, 0, .3));

$text-shadow-light: 1px 1px 0 rgba(0, 0, 0, .1);
$text-shadow-mid: 1px 1px 0 rgba(0, 0, 0, .2);
$text-shadow-dark: 1px 1px 0 rgba(0, 0, 0, .3);

$shadow-focus-width: 3px;

$border-radius: 4px;

$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;