#oltb {
    position: absolute;
    max-height: calc(100% - 2rem);
    display: inline-flex;
    flex-direction: column;
    padding: .25rem;
    padding-top: 0;
    margin: 1rem;
    background-color: $background-theme-light;
    border-radius: $border-radius;
    box-shadow: $box-shadow-mid;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &:empty {
        display: none;
    }

    &.row {
        max-width: calc(100% - 2rem);
        flex-direction: row;
        margin-right: 1rem;
        padding-top: .25rem;

        .oltb-tool-button {
            margin: 0 0 0 .25rem;
    
            &:first-child {
                margin: 0;
            }
        }
    }

    &.dark {
        background-color: $background-theme-dark;

        .oltb-tool-button {
            color: #E6E8E5;
            
            &:hover,
            &--active {
                background-color: $color-blue-mid;
                color: $color-light;
            }
        }
    }
}

.oltb-tool-button {
    flex-shrink: 0;
    border-radius: $border-radius;
    margin: .25rem 0 0 0;
    color: $color-gray-dark;
    height: 2.125rem;
    width: 2.125rem;
    padding: 0;
    background-color: transparent;
    transition: background-color 100ms ease-in-out;
    border: none;
    cursor: pointer;
    position: relative;

    &:hover,
    &--active {
        background-color: $color-blue-light;
        color: $color-blue-dark;
    }

    &--hidden {
        display: none;
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        filter: $drop-shadow-filter-light;
    }
}

// JavaScript adds the class .using-keyboard to the body tag if the user presses the keyboard
// If .using-keyboard then enable focus-style to the buttons
body.oltb-using-keyboard #oltb {
    &.dark {
        .oltb-tool-button {
            &:focus,
            &:active {
                background-color: $color-blue-mid;
                color: $color-light;
            }
        }
    }

    .oltb-tool-button {
        &:focus,
        &:active {
            background-color: $color-blue-light;
            color: $color-blue-dark;
        }
    }
}

// Always use horizontal toolbar for mobiles
@media only screen and (max-width: $breakpoint-sm) {
    #oltb {
        max-width: calc(100% - 2rem);
        flex-direction: row;
        margin-right: 1rem;
        padding-top: .25rem;
    }

    .oltb-tool-button {
        margin: 0 0 0 .25rem;

        &:first-child {
            margin: 0;
        }
    }
}