.oltb-color-input {
    display: block;
    width: 100%;
    padding: .438rem;
    color: #212529;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid $form-input-border-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
    outline: none;

    &:focus {
        border: 1px solid rgba($color-blue-dark, .5);
        box-shadow: 0 0 0 $shadow-focus-width rgba($color-blue-dark, .3);
    }

    &__inner {
        padding: .5rem;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .25rem;
    }
}

body.oltb-dark .oltb-color-input {
    background-color: $color-gray-mid;
    border: 1px solid $color-gray-dark;

    &:focus {
        border: 1px solid $color-gray-dark;
        box-shadow: 0 0 0 $shadow-focus-width rgba($color-gray-mid, .5);
    }
}