.oltb-context-menu {
    display: none;
    list-style: none;
    margin: 0;
    max-width: 250px;
    min-width: 200px;
    padding: 0;
    position: fixed;
    user-select: none;
    
    background-color: $background-theme-light;
    box-shadow: $box-shadow-mid;
    border-radius: 2px;
    font-size: .875rem;
  
    &__item {
        padding: .563rem .875rem .563rem .5rem;
        cursor: pointer;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $color-gray-dark;
        display: flex;
        align-items: center;
        margin: .25rem;
        border-radius: 2px;
        transition: background-color 100ms ease-in-out;
  
        &:hover,
        &:focus {
            background-color: $color-blue-light;
            color: $color-blue-dark;
        }
    }

    &__icon {
        display: flex;
        padding-right: .625rem;
        margin: 0;

        svg {
            width: 20px;
            height: 20px;
        }
    }
  
    &__divider {
        background-color: rgba(0, 0, 0, .15);
        height: 1px;
        margin: .25rem 0;
    }

    &--show {
        display: block;
    }
}

body.oltb-dark .oltb-context-menu {
    background-color: $background-theme-dark;

    &__item {
        color: $background-theme-light;

        &:hover,
        &:focus {
            background-color: $color-blue-mid;
            color: $color-light;
        }
    }
}