* {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box; 
    
    outline: none;
}

h1, h2, h3, h4, h5, h6, p, img, span, a {
    margin: 0 0 1rem 0;
    padding: 0;
}

p {
    font-size: 1.125rem;
}

textarea {
    resize: none;
}