#oltb-toast-container {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    z-index: 1000;
}

.oltb-toast {
    cursor: default;
    padding: .75rem .875rem;
    border-radius: 2px;
    box-shadow: $box-shadow-mid;
    margin: 0 1rem 1rem 1rem;
    display: flex;
    align-items: center;

    &__message {
        color: $color-light;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;
        text-shadow: $text-shadow-light;
    }

    &--clickable {
        cursor: pointer;
    }

    &--remove {
        margin-right: 0;
    }

    &--info {
        background-color: $color-gray-dark;
    }

    &--warning {
        background-color: $color-orange-dark;
    }

    &--error {
        background-color: $color-red-dark;
    }

    &--success {
        background-color: $color-green-dark;
    }
}