.oltb-toolbox-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    &__item {
        border-radius: 2px;
        margin-bottom: .5rem;
        color: $color-gray-dark;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        &--hidden {
            .oltb-toolbox-list__title {
                text-decoration: line-through;
            }
    
            .oltb-func-btn--visibility {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(255, 255, 255)' viewBox='0 0 16 16'%3E%3Cpath d='M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z'/%3E%3Cpath d='M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z'/%3E%3Cpath d='M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z'/%3E%3C/svg%3E");
            }
        }
    }

    &__title {
        margin: 0 1rem 0 0;
        cursor: default;
    }

    &--selectable .oltb-toolbox-list {
        &__item {
            &::before {
                content: '';
                width: .25rem;
                height: 1.5rem;
                background-color: $color-gray-light;
                border-radius: 4px;
                position: absolute;
                left: -.313rem;
                top: 50%;
                transform: translate(-100%, -50%);
                box-shadow: $box-shadow-light;
            }
        
            &--active::before {
                background-color: $color-green-mid;
            }
        }

        &__title {
            cursor: pointer;
        }
    }
}

body.oltb-dark .oltb-toolbox-list {
    &__item--hidden .oltb-func-btn--visibility:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(255, 255, 255)' viewBox='0 0 16 16'%3E%3Cpath d='M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z'/%3E%3Cpath d='M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z'/%3E%3Cpath d='M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z'/%3E%3C/svg%3E");
    }

    &--selectable .oltb-toolbox-list__item--active::before {
        background-color: $color-green-mid;
    }

    &__title { 
        color: $color-light;
    }
}