.oltb-toolbox-container {
    min-width: 270px; // Help for collision detection
    position: absolute;
    pointer-events: auto;
    z-index: 800;
    top: 1rem;
    right: 1rem;
    max-height: calc(100% - 2rem);
    border-radius: 2px;
    background-color: $background-theme-light;
    box-shadow: $box-shadow-mid;
    padding: 0 1rem;

    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &--collision {
        top: 4.5rem;
        max-height: calc(100% - 5.5rem);
    }
}

body.oltb-dark .oltb-toolbox-container {
    background-color: $background-theme-dark;
}

@media only screen and(max-width: $breakpoint-sm) {
    .oltb-toolbox-container {
        width: calc(100% - 2rem);
        top: 4.5rem;
        max-height: calc(100% - 5.5rem);
    }
}